body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.loading-text {
  display: inline-block;
}

/* SIGN IN START */

.sign-in-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.sign-in-container h1 {
  margin-bottom: 15vh;
}

.sign-in-form {
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  border-radius: 10px;
}

.sign-in-form h3 {
  text-align: center;
}

.sign-in-form form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.sign-in-form input {
  padding: 5px;
  margin: 5px;
}

.sign-in-form button {
  padding: 5px;
  margin: 5px;
}

.sign-in-form P {
  padding: 5px;
  margin: 5px;
}

/* SIGN IN END */

/* NAV BAR START */

.nav-bar {
  width: 100vw;
  display: flex;
  flex: 1;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  padding-left: 20px;
  margin: 0;
}

.nav-bar li {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
}

.nav-bar li a {
  text-decoration: none;
  color: #252525;
  display: block;
  padding: 10px;
  transition: 0.2s;
}

.nav-bar li a:hover {
  background-color: rgb(70, 116, 117);
  color: white;
}

.nav-bar-selected {
  background-color: rgb(159, 195, 196);
}

.nav-bar-user-options {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

#welcomeMessage {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-bar-user-options a {
  text-decoration: none;
  font-weight: bold;
  color: #252525;
  display: block;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: 0.2s;
}

.nav-bar-user-options a:hover {
  background-color: rgb(70, 116, 117);
  color: white;
}

/* NAV BAR END */

/* HOME START */

.home-container {
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* POLLS CONTAINER START */

.polls-container {
  display: flex;
  flex-direction: column;
  max-height: 90%;
  width: 90%;
  max-width: 600px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.section-tabs {
  display: flex;
}

.tab {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  flex-basis: 50%;
}

.selected-tab {
  background-color: rgb(159, 195, 196);
  color: black;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  flex-basis: 50%;
}

.tab-polls {
  overflow: auto;
  flex: 1;
}

/* POLL ENTRY START*/

.poll-entry {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  margin: 15px 15px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.poll-author {
  text-transform: uppercase;
  font-weight: bold;
}

/* POLL ENTRY END */

/* POLLS CONTAINER END */

/* HOME END */

/* POLL DETAIL START*/

.poll-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.poll-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90%;
  width: 90%;
  max-width: 800px;
  padding-bottom: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
}

.poll-detail-avatar {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 200px;
  height: 200px;
}

.poll-detail-options-container {
  display: flex;
  width: 90%;
}

.poll-detail-option {
  display: flex;
  flex: 1;
}

.poll-detail-option-button {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s;
  margin: 10px 10px;
  flex: 1;
}

.poll-detail-option-button:hover {
  background-color: rgb(70, 116, 117);
  color: white;
}

.poll-detail-option-selected {
  background-color: rgb(70, 116, 117);
  color: white;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s;
  margin: 10px 10px;
  flex: 1;
}

.poll-detail-statistics-container {
  display: flex;
  margin-bottom: 25px;
  width: 90%;
}

.poll-detail-statistic {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 10px 10px;
}

.poll-detail-statistic-block {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s;
  flex: 1;
}

/* POLL DETAIL END */

/* LEADERBOARD START */

.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.leaderboard-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.4em;
  font-family: sans-serif;
  width: 90%;
  max-width: 800px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.leaderboard-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.leaderboard-table thead tr {
  background-color: rgb(159, 195, 196);
  text-align: center;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 5px 7px;
}

.leaderboard-table tbody tr td {
  text-align: center;
}

.leaderboard-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.leaderboard-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/* LEADERBOARD END */

/* NEW POLL START */

.new-poll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.new-poll-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90%;
  width: 90%;
  max-width: 800px;
  padding-bottom: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
}

.new-poll-form-container form {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  align-items: center;
  width: 80%;
}

.new-poll-form-container label {
  align-self: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}

.new-poll-form-container input {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  font-size: 0.8em;
}

.new-poll-form-container button {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s;
  margin: 10px 10px;
  flex: 1;
}

.new-poll-form-container button:hover {
  background-color: rgb(70, 116, 117);
  color: white;
}

/* NEW POLL END */
