body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.loading-text {
  display: inline-block;
}

/* SIGN IN START */

.sign-in-container {
  padding: 20px;
  border-style: groove;
}

.sign-in-container h3 {
  text-align: center;
}

.sign-in-form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.sign-in-form input {
  padding: 5px;
  margin: 5px;
}

.sign-in-form input {
  padding: 5px;
  margin: 5px;
}

.sign-in-form button {
  padding: 5px;
  margin: 5px;
}

/* SIGN IN END */

/* HOME START */

.welcome-container {
  background-color: black;
  color: white;
  text-align: center;
}

/* HOME END */
